[
  {sasl, [   
    	{sasl_error_logger, false},    
    	{errlog_type, error},   
    	{error_logger_mf_dir, "./logs"},     %% dirs
    	{error_logger_mf_maxbytes, 1048760}, %% 10M per log file.   
    	{error_logger_mf_maxfiles, 10}       %% maxinum number of 10
    	]
   },
  
  {server, [  
		{tcp_listener,[
						{ip, "127.0.0.1"},
						{port, 8010}
						]},
		{log_level, 5},				%% 日志输出级别类型
		{map_here, [1021]}			%% 开启加载在本节点场景(all--所有非副本节点; [100]--配置的节点)
		]
  }
].  
 
