body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;*line-height:1.5}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
small{font-size:12px}
ul,ol{list-style:none}
a{text-decoration:none; color:#f60;font-family:tahoma,arial;}
a:hover{text-decoration:underline}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
img{-ms-interpolation-mode:bicubic}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}

body{ background:#fff;}
.clear{*zoom:1}
.clear:after{content:'\20';display:block;clear:both;height:0}
.hide{ display:none;}
.w_980{ margin:auto; width:980px; min-width:980px; position:relative;}
.w_100{ margin:auto; min-width:980px; position:relative;}

.btn-cart, .btn-favorites s, .category .c-mt, .c-menu .hover, .f-lists dd a, .dataTab .dropMenu .h3 s, .op-amount a, .ft-fixed-right .toTop,.ft-fixed-right .toService
	{ background:url(../images/asset.png) no-repeat;}
	
.b-yellow{ display:inline-block; margin:0 auto; width:200px; height:25px; text-align:center; font:800 12px/25px Microsoft Yahei; color:#333; border-radius:4px; border:1px solid #e6a400; background:url(../images/bar.png) repeat-x 0 -208px;box-shadow:1px 1px 2px rgba(0,0,0,0.1); }
.b-yellow:hover{text-decoration:none; background-position:0 -238px;}
.b-blue{ display:inline-block; width:75px; height:25px; text-align:center; font:800 12px/25px Microsoft Yahei; color:#fff; border-radius:3px; background:#f60; border:1px solid #ef6000; box-shadow:1px 1px 1px rgba(0,0,0,0.2); }
.b-blue:hover{ text-decoration:none;  background:#f70;}
.enable{ background:#ccc; cursor:default; border:0; box-shadow:1px 1px 1px rgba(0,0,0,0.05);}
	.enable:hover{ background:#ccc;}

.text{ font:500 12px/1.5 tahoma; border:1px solid #999; padding:2px 4px; height:20px; line-height:20px; border-radius:2px; box-shadow:inset 1px 1px 1px rgba(0,0,0,0.05);}
.op-amount{ position:relative;}
	.op-amount input{ width:30px; height:23px; text-align:center; border:1px solid #dbdbdb; box-shadow:inset 1px 1px 1px rgba(0,0,0,0.05);}
	.op-amount a{ position:absolute; display:block; width:17px; height:11px; border:1px solid #dbdbdb; text-indent:-1000em; box-shadow:inset -1px -1px 0px rgba(0,0,0,0.05); overflow:hidden;}
	.op-amount a:hover{ border:1px solid #f60; background-color:#fff4f0; z-index:1;}
	.op-amount .btn-plus{ left:33px; top:0px; background-position:-68px -47px;}
	.op-amount .btn-minus{ left:33px; top:12px; background-position:-68px -58px;}

#mainBody{ position:relative; margin:10px auto 30px; overflow:hidden; zoom:1;}
#header{ height:80px; overflow:hidden; vertical-align:middle; color:#333;}
	#Logo{ position:relative; float:left; width:250px; margin-top:22px;}
		#Logo a{ text-indent:-2000em; display:block; width:200px; height:38px; background:url(../images/logo.png) no-repeat;}
		#Logo b{ position:absolute; left:126px; top:0px; color:#656766; font:500 12px/1.2 Microsoft Yahei;}
	#mallSearch{ float:left; padding-top:24px;}
		#mallSearch .search-box{ border:2px solid #f60;}
		#mallSearch .search-text{ float:left; vertical-align:middle; border:0 none; height:32px; width:296px; padding:0 5px;}
		#mallSearch .search-btn{ float:left; vertical-align:middle; width:92px; height:32px; border:0 none; font:800 18px/30px Microsoft Yahei; color:#fff; background-color:#f60; cursor:pointer;}
		
	.sn-container{ position:absolute; top:35px; right:0; white-space: nowrap;}
		.sn-container a{ color:#444; margin:0 5px;}
		.sn-container i{display:inline-block;width:0px;height: 12px;line-height:12px;vertical-align: top;position: relative;top:4px;left: 0px;font-size: 0px;border-left: 1px solid rgba(250,250,250,0.1);border-right: 1px solid rgba(0, 0, 0,0.1);margin:0px 2px 0 5px;}
		.sn-login,.sn-fun{ float:left; background-position:100% 5px; padding:0 5px 0 5px;}
		.sn-menu{ float:left;}
		
#actionBar{ position:relative; height:40px; background:#f60; border-bottom:2px solid #f9f9f9; z-index:10;}
	.nav-main{ float:left; margin:0 0 0 200px;}
		.nav-main li{ float:left; height:39px; margin:1px 1px 0 0;}
		.nav-main a{ display:inline-block; padding:0 15px; height:39px; font:800 14px/39px Microsoft Yahei; color:#fff; border-radius:2px 2px 0 0;}
		.nav-main a:hover{ background:#f9f9f9; text-decoration:none; color:#f60;}
		.nav-main li.select a{ border-bottom:2px solid #fff; background:#fff; color:#f60;}
	
	.nai-other{ position:relative; float:right; margin-top:2px;}
		.nai-other .gap{ float:left; margin:8px 5px 0; width:1px; height:22px; background:#dd633c; overflow:hidden;}
		.btn-favorites{ float:left; width:70px; height:36px; padding-left:35px; color:#fff; font:800 14px/36px Microsoft Yahei; border-radius:3px;}
		.btn-favorites s{ position:absolute; left:7px; top:7px; height:24px; width:24px; background-position:-61px 0px;}
		.btn-favorites:hover{ text-decoration:none; background-color:#fff; color:#f60;}
		.btn-favorites:hover s{ background-position:-61px -24px;}
		.tradeCart{ position:relative; float:left; margin-right:5px;}
			.tradeCart .btn-cart{ display:block; padding-left:38px; width:77px; height:36px; color:#fff; font:800 14px/36px Microsoft Yahei; background-position:-85px -1px; border-radius:3px 3px 0px 0px;}
			.tradeCart .btn-cart:hover{ text-decoration:none;}
			.tradeCart .cartNumber { position:absolute; left:12px; top:-6px; background-color:#f00; border-radius:6px; padding:0 5px; color:#fff;}
			.s-tradeList{ display:none; position:absolute; top:36px; left:-112px; width:225px; background:#fff; border:1px solid #eee; border-top:0; box-shadow:2px 2px 0px rgba(200,200,200,0.05);}
				.s-tradeList .empty{ padding:20px 10px; text-align:center; color:#dd633c; font:800 14px/2 Microsoft Yahei;}
				.s-tradeList ul{ max-height:305px; overflow-y:auto;}
				.s-tradeList li{ position:relative; border-top:1px solid #e1e0da; zoom:1; clear:both; height:60px; padding-left:60px;}
				.s-tradeList li img{ position:absolute; left:5px; top:5px; width:50px; height:50px;}
				.s-tradeList li h3{ height:22px; margin:6px 0; overflow:hidden; color:#666; font:500 12px/1.5 Microsoft Yahei;}
				.s-tradeList li p{ padding-right:10px; text-align:right;}
				.s-tradeList li p em{ font:500 13px/1.5 Microsoft Yahei; color:#3a3a3a; margin-right:10px;}
				.s-tradeList li .op-amount{ position:absolute; left:60px; top:27px;}
				
				.op-settlement{ clear:both; padding:12px; background:#fcfcfc url(../images/bar.png) repeat-x 0 -268px;  border-radius:0 0 3px 3px;}
					.op-settlement p{ width:190px; margin:5px auto; color:#999; font:500 12px/1.5 Microsoft Yahei;}
					.op-settlement p em{ display:inline-block; width:120px; text-align:right; font:800 13px/1.5 Microsoft Yahei; color:#dd633c;}
		.tradeCartHover .s-tradeList{ display:block;}
		.tradeCartHover .btn-cart{ background-color:#fff; color:#f60; background-position:-85px -39px;}
	.category{ position:absolute; left:0; top:0; width:200px; }
		.category .c-mt{ position:relative; font:800 14px/40px Microsoft Yahei; color:#fff; background-position:180px 0px; padding:0 0 0 16px; width:184px; cursor:pointer;}
		.categoryHover .c-mt{ background-color:#f40;}
		.categoryHover .c-menu{ display:block;}
		.c-menu{ display:none; position:relative; z-index:2; left:-1px; width:200px; background-color:#fff; box-shadow:2px 2px 0px rgba(200,200,200,0.05); border:1px solid #eee; border-width:0 1px 1px;}
			.c-menu .item{ padding-left:14px; height:30px; overflow:hidden; border-bottom:1px dotted #f0f0f0;}
			.c-menu .itemEven{ background-color:#fcfcfc;}
			.c-menu .item h3 a{ font:400 12px/30px Microsoft Yahei; color:#444; }
			.c-menu .item h3 a:hover{ text-decoration:none; }
			.c-menu .item a:hover{ text-decoration:underline; }
			.c-menu .hover{ height:55px; border-bottom:1px solid #49422f; background-color:#49422f; background-position:185px -40px; color:#fff; margin-right:-1px; }
			.c-menu .hover h3 a,.c-menu .hover p a{ color:#fff; margin-right:8px}
			.c-menu .hover .i-mc{ display:block;}
		.i-mc{ display:none; position:absolute; left:200px; top:0px; background:#fff; border:1px solid #eee; border-width:0 1px 1px 0; width:600px; min-height:255px; box-shadow:2px 2px 0px rgba(200,200,200,0.05); padding:8px 15px 10px; overflow:hidden;}
			.i-mc .shoadw{ position:absolute; left:0; top:0; width:1px; overflow:hidden; height:100%; background:#eee; }
			.i-mc dl{ position:relative; padding:10px 0 10px 95px; border-top:1px dashed #ece6dd;overflow:hidden;zoom:1;}
			.i-mc dt{ position:absolute; left:10px; top:50%; margin-top:-15px; height:30px;}
			.i-mc dt a{ font:800 12px/30px Microsoft Yahei; color:#3e5248;}
			.i-mc dd em{float:left;height:14px;margin:4px 0;line-height:14px;padding:0 8px;border-left:1px solid #ccc;font-style:normal;white-space:nowrap;}			
			.i-mc dd a{ color:#777;}
			.i-mc .fore{border-top:none;}

.ctp{ position:absolute; top:48px; left:0px; width:100%; height:290px; background:#fcfcfc;}
.rightContent{ position:relative; padding:0 0 0 215px;}

.select-page{ float:right; margin:10px 5px auto auto; overflow:hidden; zoom:1;}
	.p-total{ float:left; line-height:24px; color:#777; margin-right:10px;}
	.select-page .p-pages{ float:left;}
	.select-page .p-pages a{ float:left; display:block; padding:0 10px; line-height:24px; color:#777; border:1px solid #e0e0e0; margin:0 1px; background:#f9f9f9; border-radius:2px;}
	.select-page .p-pages a:hover{ border-color:#ddd; background:#fff; text-decoration:none;}
	.select-page .p-pages span{ float:left; display:block; margin:0 4px; line-height:24px; color:#999;}
	.select-page .p-pages .select, .select-page .p-pages .select:hover{ border:1px solid #f27e56; background-color:#f96; color:#fff;}
	
.ad-cont{ position:relative; height:190px; margin:0 0 20px 0;}
	.ad-cover{ position:relative; width:560px; height:190px; background-color:#fff; overflow:hidden; z-index:1;}
	.ad-cover img{ width:560px; height:190px;}
	.ad-small{ position:absolute; right:0; top:0;}
		.ad-small a{ display:block; width:200px; height:94px; overflow:hidden; margin-bottom:2px;}
.ad-sell{ margin:0 -10px 30px 0; position:relative;overflow:hidden;zoom:1;}
	.ad-sell li{ position:relative; float:left; width:246px; height:106px; background:#fff; margin:0 10px 10px 0; border:1px solid #ececec; overflow:hidden;zoom:1;}
	.ad-sell li img{ float:left; margin:5px; width:96px; height:96px; vertical-align:middle;}
	.ad-sell li h3{ line-height:1.5; margin:12px 5px 5px 0; color:#777;}
	.ad-sell li p{ color:#999;}
	.ad-sell li em{ color:#09c; font:800 14px/1.5 Microsoft Yahei;}
	.ad-sell li s{ margin:0 4px;}
	.ad-sell li .b-blue{ position:absolute; right:10px; bottom:10px;}
		
.crumbClip{ padding:0 10px; color:#999; margin-bottom:10px;}
	.crumbClip a{ padding:0 5px; color:#777;}

.filter-searchForm{ position:relative; background:#fff; overflow:hidden; zoom:1; border:1px solid #eaeaea;}
	.f-lists dl{ position:relative; padding:5px 0 5px 95px; border-top:1px dashed #ece6dd;overflow:hidden;zoom:1;}
	.f-lists dt{ position:absolute; left:10px; top:50%; margin-top:-15px; height:30px;}
	.f-lists dt em{ font:800 14px/30px Microsoft Yahei; color:#777;}
	.f-lists dd em{float:left; display:block; margin:2px; font-style:normal;}	
	.f-lists dd a{ display:block; line-height:24px; color:#777; width:78px; height:24px;padding:0 8px 0 22px; border-radius:3px; background-position:-171px -76px; overflow:hidden;}
	.f-lists dd a:hover{ text-decoration:none; background-color:#f9f9f9; color:#f60;}
	.f-lists .select a{ background-color:#f96; color:#fff;  background-position:-171px -100px; font-weight:800;}
	.f-lists .select a:hover{ background-color:#f96; color:#fff; }
	.f-lists .fore{border-top:none;}
	
.filter-navForm{ height:36px; background:#fbfbfb; border:1px solid #e8e8e8; box-shadow:0 1px 2px #e8e8e8; margin:18px auto;}
	.f-sort { float:left;}
	.f-sort li{ float:left; height:36px; border-right:1px solid #e8e8e8;}
	.f-sort li a{ float:left; height:36px; display:block; padding:0 15px; font:500 12px/36px Microsoft Yahei; color:#777;}
	.f-sort li a:hover{ text-decoration:none; background-color:#f3f3f3;}
	.f-sort .select a{ margin:-1px 0 0 -1px; border:1px solid #f27e56; background-color:#f96; color:#fff;  background-position:-160px -156px; font-weight:800;}
	.f-sort .select a:hover{ background-color:#f96; }
	
	.filter-navForm .select-page{ float:right; margin:6px 5px auto auto;}
	

.output-list{overflow:hidden; zoom:1; clear:both;}
	.Commodity{ zoom:1; clear:both; position:relative;}	
	.Commodity li{ position:relative; float:left; margin-bottom:15px; width:222px; height:370px; background-color:#fff; border:1px solid #fff; box-sizing:border-box; -moz-box-sizing:border-box; /* Firefox */-webkit-box-sizing:border-box; /* Safari */}
	.Commodity li .item-box{ width:180px; height:352px; padding:5px 17px; border:3px solid #fff;}
	.Commodity li .code{ height:28px; line-height:28px; color:#666; overflow:hidden; text-align:center; background:url(../images/itemCode.png) no-repeat 50% 50%;}
	.Commodity li img{ width:180px; height:180px; margin:0 auto;}
	.Commodity li .price{ margin:3px auto; text-overflow: ellipsis; white-space: nowrap; overflow:hidden; zoom:1;}
	.Commodity li .price em{ float:left; color:#09c; font:800 14px/1.5 Microsoft Yahei;}
	.Commodity li .price span{ float:right; color:#999; font:300 12px/1.5 Microsoft Yahei; padding:3px 0 0;}
	.Commodity li .title{ margin:5px auto; color:#444; font:300 12px/18px tahoma; height:36px; overflow:hidden;} 
	.Commodity li .inforBar{ margin:10px auto 8px; overflow:hidden; zoom:1;}
	.Commodity li .inforBar p{ float:left;}
	.Commodity li .inforBar p span{ display:inline-block; margin-right:3px; width:18px; height:18px; line-height:18px; text-align:center; color:#fff; border-radius:3px; background-color:#F60;}
	.Commodity li .inforBar p .b-tui{ background-color:#090;}
	.Commodity li .inforBar .b-favorite{ float:right; color:#777;}
	.Commodity li .bar{ clear:both; position:relative; margin:auto 0; padding:8px 0 0; border-top:1px dotted #dfdfdf; text-align:right;}
	.Commodity li .op-amount{ position:absolute; right:105px; top:8px;}
	.Commodity li .b-favorite:hover{ text-decoration:none; color:#4ba9e6; border-color:#4ba9e6;}
	.Commodity li:hover{ z-index:1; border-color:#dcdcdc; }
	.Commodity li:hover .item-box{ border-color:#f9f9f9;}

.side-reckon-fixed{ position: fixed !important; top:20px !important;}
.side-reckon{ position:absolute; top:0; left:0px; background:#fff; width:198px; border:1px solid #eee; border-width:0 1px 0 1px;}
	.side-reckon h2{ text-align:center; line-height:32px; margin:5px; color:#666; font:800 13px/32px Microsoft Yahei; border-bottom:1px dotted #ccc;}
	.side-reckon ul{ margin:5px 10px;}
	.side-reckon li{ margin-bottom:1px;}
	.side-reckon li a{ display:block; height:30px; line-height:30px; color:#777; padding-left:10px; border-radius:3px;}
	.side-reckon li a:hover{background-color:#f6f6f6; text-decoration:none;}
	.side-reckon li.select a, .side-reckon li.select a:hover{ background-color:#f96; color:#fff; }
	.side-reckon .bar{padding:6px 5px 10px; color:#666; border-top:1px dashed #e0e0e0;text-align:center;}
	.side-reckon .bar em{ color:#dd633c; font:800 14px/32px Microsoft Yahei;}
	.side-reckon .bar .b-yellow{ width:120px; margin:10px auto; height:30px; line-height:30px; font-size:14px;}
	.side-reckon .bicon{ margin-top:25px; display:block; height:4px; overflow:hidden; background:url(../images/bar.png) repeat-x 0 -268px;}
	.side-reckon .ticon{ position:absolute; top:0; left:-3px; width:204px; height:9px; overflow:hidden; background:url(../images/topShadow.png) no-repeat;}
	
.favorite-list{ overflow:hidden; zoom:1; clear:both;}
	.favorite-list ul{}
	.favorite-list li{ position:relative; float:left; margin-bottom:0px; width:222px; height:147px; background-color:#fff; border:1px solid #f6f6f6; box-sizing:border-box; -moz-box-sizing:border-box; /* Firefox */-webkit-box-sizing:border-box; /* Safari */}
	.favorite-list li .item-box{ width:194px; height:139px; padding:0px 10px; border:3px solid #fff;}
	.favorite-list li .details{ overflow:hidden; zoom:1;}
	.favorite-list li .details img{ float:left; margin-right:8px; width:65px; height:65px;}
	.favorite-list li .details h3{ font:300 12px/18px tahoma; height:36px; overflow:hidden;}
	.favorite-list li .details p{ margin-top:10px; color:#999; }
	.favorite-list li .details p i{ float:left; display:inline-block; width:75px; color:#999; font-style:normal;}
	.favorite-list li .details p span{ float:right; display:block; margin-left:3px; width:18px; height:18px; line-height:18px; text-align:center; color:#fff; border-radius:3px; background-color:#F60;}
	.favorite-list li .details p .b-tui{ background-color:#090;}
	.favorite-list li .code{ height:28px; line-height:28px; color:#666; overflow:hidden; text-align:center; background:url(../images/itemCode.png) no-repeat 50% 50%;}
	.favorite-list li .bar{ clear:both; position:relative; margin-top:8px; height:32px; border-top:1px dotted #dfdfdf;}
	.favorite-list li .bar em{ color:#09c; font:800 14px/32px Microsoft Yahei;}
	.favorite-list li .bar .op-amount{ position:absolute; left:145px; top:5px;}
	.favorite-list li:hover{ z-index:1; border-color:#dcdcdc; }
	.favorite-list li:hover .item-box{ border-color:#f9f9f9;}
	.favorite-list li.select{ z-index:1; border-color:#f60;}
	.favorite-list li.select .item-box{ border-color:#F3FAFF;}

.right-container{ float:right; width:765px;}
.left-nav{ float:left; width:188px; padding:5px; background:#fcfcfc; border:1px solid #f3f3f3;}
	.left-nav h2{ font:800 12px/22px Microsoft Yahei; padding:0 0 5px 20px; color:#666; border-bottom:1px dotted #e0e0e0;}
	.left-nav ul{ padding:5px 5px 5px 20px;}
	.left-nav li a{ display:block; height:24px; line-height:24px; color:#777; margin:4px auto; padding-left:1em;}
	.left-nav li a:hover{ text-decoration:none; color:#f60;}
	.left-nav .select a,.left-nav .select a:hover{ color:#f60; background:url(../images/asset.png) no-repeat 140px -95px;}
		
.headerForm{ padding:0 10px 6px; border-bottom:1px solid #f0f0f0; margin-bottom:5px;}
	.headerForm h2{ display:inline-block;  font:800 16px/1.7 Microsoft Yahei; text-align:left; color:#777;}
	.headerForm p{ margin-left:10px; display:inline-block; color:#aaa;}
.searchForm{ position:relative; padding:10px 0; margin-bottom:10px;}	
	.searchForm td{ padding:6px 10px;}
	.searchForm .label{ min-width:80px; text-align:left; color:#777; font:500 12px/1.5 tahoma;}
	
	.searchForm .radio{ margin-right:8px;}
	.searchForm .radio input{ margin-right:3px;}
	.searchForm select { font:500 12px/1.5 Microsoft Yahei; min-width:80px; border:1px solid #aaal; cursor: default; padding:4px; height:26px;white-space: pre;-webkit-rtl-ordering: logical;}
	.searchForm .prompt{ margin-left:10px; color:#c00;}
	.searchTolbar{ position:absolute; right:10px; bottom:10px;}
	.searchForm button[type="submit"], .searchTolbar button[type="button"]{ display:block; width:100px; height:35px; border:0; cursor:pointer; }
	.searchForm button[type="reset"]{ border:0; background:transparent; cursor:pointer; width:100px; height:30px; margin-bottom:5px; border-radius:3px; font:500 12px/1.5 Microsoft Yahei;}
	.searchForm button[type="reset"]:hover{ color:4ba9e6; background:#f0f0f0;}
.mes-list{ min-height:500px;}
	.mes-list li{ padding:10px; border-bottom:1px solid #f0f0f0;}
	.mes-list p{ color:#666; margin:5px auto;}
	.mes-list div { color:#bbb;}
	.mes-list .del{ display:none; color:#dd633c;}
	.mes-list li:hover{ background:#fcfcfc;}
	.mes-list li:hover .del{ display:block; float:right;}

.databar{ padding:10px;}
	.databar input{ vertical-align:text-bottom; margin-right:5px;}
	.databar label{ margin-right:10px;}
	.databar a{ color:#666; margin-right:5px;}
	.databar a:hover{ text-decoration:none; color:#f60;}

.dataTab{ width:100%; margin:1px auto; border:1px solid #e0e0e0; background:#fff;}
	.dataTab tr{ border-bottom:1px solid #e0e0e0; }
	.dataTab td{ padding:8px;}
	.dataTab tr.even{ background:#fcfcfc}
	.dataTab thead{ background:#f7f7f7; color:#777; text-align:left;}
	.dataTab thead th{ height:24px; padding:5px 10px; font-weight:500;}
	.dataTab tbody tr:hover{ background:#f9f9f9;}
	.dataTab .t-operate{ text-align:right; color:#ddd; }
	.dataTab .t-operate a{ margin:0 5px; color:#dd633c;}
	
	.dataTab input{ vertical-align:text-bottom; margin-right:5px;}
	.dataTab i.gap{ display:inline-block; width:20px;}
	.dataTab .order span,.dataTab .supplier span{ display:inline-block; min-width:150px; margin-right:1.5em;}
	
	.dataTab .order{ background:#fff8f2; border-bottom:1px solid #f3d7bb; border-top:1px solid #f3d7bb !important;}
	.dataTab .order:hover{background:#fff8f2; }
	.dataTab .order .s-1{ color:#333; font-weight:800; font-size:14px;}
	.dataTab .order .s-3{ color:#f60; font-weight:800; font-size:14px;}
	.dataTab .order .checkInfo{ float:right; position:relative; display:inline-block; color:#5a9843; line-height:18px;}
	.dataTab .order .checkInfo div{ display:none; position:absolute; top:-70px; right:-11px; padding:10px; height:40px; min-width:120px; background:#fff; border:1px solid #ddd; color:#777;}
	.dataTab .order .checkInfo div label{ display:inline-block; width:62px;}
	.dataTab .order .checkInfo div em{ color:#333;}
	.dataTab .order .checkInfo:hover div{ display:block; box-shadow:2px 2px 0px rgba(0,0,0,0.05);}
	.dataTab .order .checkInfo:hover div s{ position:absolute; top:60px; right:15px; width:15px; height:10px; background:url(../images/asset.png) no-repeat -46px 0;}
	
	.dataTab .supplier{ background:#f9f9f9; color:#666; border-bottom:1px solid #f3f3f3 !important; border-top:1px solid #e0e0e0 !important;}
		.dataTab .supplier:hover{ background:#f9f9f9;}
		.dataTab .supplier .s-1{ color:#5a9843; font-weight:800;}
	.dataTab .item{ border-bottom:1px dotted #f0f0f0; }
	.dataTab .item .price s{ color:#999;}
	
	
/* table asset */
.t-r{ text-align:right;}
.t-c{ text-align:center;}
.t-lost{ color:#f60;font:800 14px/14px tahoma;}
.t-get{ color:#090;font:800 14px/14px tahoma;}
.t-minor{ color:#777;}

.ft-fixed-right{ clear:both; position:fixed; right:10px; bottom:10%; z-index:100;}
	.ft-fixed-right .toTop,.ft-fixed-right .toService
		{ position:relative; display:block; overflow:hidden; text-indent:-2000em; width:50px; height:50px; border:1px solid #e0e0e0; background-color:#fff; background-position:-71px -76px; margin-bottom:5px;}
	.ft-fixed-right .toTop:hover s{ position:absolute; left:0; top:0; width:50px; height:50px; background:rgba(0,0,0,0.03);}
	.ft-fixed-right .toTop{ background-position:-121px -76px;}
	.ft-fixed-right .toService s{ display:none; position:absolute; left:0; top:0; width:50px; height:50px; background:rgba(0,0,0,0.03);}
	.ft-fixed-right .contact{ position:relative;}
	.ft-fixed-right .contact .layer{ display:none; width:160px; height:76px; position:absolute; left:-160px; top:50%; margin-top:-38px;}
	.ft-fixed-right .contact .layer .box{ width:143px; height:58px; padding:8px 0 8px 10px; background:#fff; border:1px solid #e0e0e0; box-shadow:2px 2px 0px rgba(200,200,200,0.05);}
	.ft-fixed-right .contact .layer .box a{ display:inline-block; height:20px; line-height:20px; padding-left:20px; background:url(../images/asset.png) no-repeat -71px -126px; margin-bottom:3px;}
	.ft-fixed-right .contact .layer s{ position:absolute; left:154px; top:50%; margin-top:-25px; width:5px; height:50px; overflow:hidden; background:url(../images/asset.png) no-repeat -66px -76px;}
	.ft-fixed-right .contactHover .toService s{ display:block;}
	.ft-fixed-right .contactHover .layer{ display:block;}

.ft-service-link{ clear:both; margin:15px auto 0; padding-bottom:30px; background:#fdfdfd; border-top:1px solid #f2f2f2; overflow:hidden; zoom:1;}
	.ft-help-list{ width:800px; margin:10px auto;}
	.ft-help-list dl{ float:left; width:180px; margin:0 10px;}
	.ft-help-list dt{ height:40px; padding:0 10px; margin-bottom:8px; border-bottom:1px dotted #e3e3e3; font:500 15px/40px Microsoft Yahei; color:#666;}
	.ft-help-list dd{ padding:0 10px; line-height:24px; height:24px; overflow:hidden; background:url(../images/asset.png) no-repeat -196px -130px;}
	.ft-help-list dd a{ color:#555;}
	.ft-help-list dd a:hover{ color:#f60;}
	
#footer{ text-align:center; border-top:5px solid #f6f6f6; background:#f9f9f9; padding:20px 0; color:#777;}





#slide {
    position: relative;
    width: 560px;
    height: 190px;
    overflow: hidden;
}
#slide .ui-switchable-content .ui-switchable-panel {
    position: relative;
    width: 560px;
    height: 190px;
    overflow: hidden;
}
#slide .ui-switchable-nav {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
    padding: 0;
    z-index: 99;
    font-size: 12px;
}
#slide .ui-switchable-nav .ui-switchable-trigger {
    float: left;
    width: 15px;
    height: 15px;
    line-height: 17px;
    margin-left: 5px;
    background-color: #FFF;
    opacity: .5;
    filter: alpha(opacity=50);
    text-align: center;
    color: black;
    cursor: pointer;
    list-style: none;
}
#slide .ui-switchable-nav .ui-switchable-active {
    color: #FFF;
    background-color: #e96c3e;
    opacity: 1;
    filter: alpha(opacity=100);
}


.searchForm .prompt{ margin-left:10px; color:#ccc;}
.searchForm .ui-form-item-error .prompt{ margin-left:10px; color:#c00;}
.searchForm .ui-form-item-error .ui-form-explain{ margin-left:10px; color:#c00;}


