<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Backbone.js market</title>
<link href="css/base.css" rel="stylesheet"></link>
</head>

<body class="w_980" style="width: 1332px;">

<div id="market" style="margin-top:50px">

	<div id="actionBar">
    	<ul class="nav-main clear">
            <li><a href="index.html">首页</a></li>
            <li class="select"><a href="store.html">超市进货</a></li>
            <li><a href="sell.html">活动区</a></li>
        </ul>
        <div class="nai-other clear">
            <a href="favorites.html" class="btn-favorites">我的货架<s></s></a>
            <i class="gap"></i>
            <div class="tradeCart">
                <a href="tradeCart.html" class="btn-cart">进货清单<s></s></a>
                <b class="cartNumber">0</b>
                <div class="s-tradeList">
                    <ul>
                        <li>
                            <img src="images/cover.jpg">
                            <h3>好奇金装纸尿裤箱</h3>
                            <div class="op-amount">
                                <input type="text" value="1" maxlength="4">
                                <a class="btn-plus" href="javascript:;" title="增加物品">+</a>
                                <a class="btn-minus" href="javascript:;" title="减少物品">-</a>
                            </div>
                            <p><em>￥62.40</em><a href="javascript:;">删除</a></p>
                        </li>
                    </ul>
                    <div class="empty">当前无进货清单！</div>
                    <div class="op-settlement">
                        <p>总金额：<em>￥6852.40</em></p>
                        <a class="b-yellow" href="#">结算 (25件)</a>
                    </div>
                </div>
            </div><!--tradeCart end -->
        </div>
        <div class="category">
            <h2 class="c-mt">全部商品分类</h2>
            <div class="c-menu">
                <div class="item">
                    <span>
                        <h3><a href="#">食品冲调</a></h3>
                        <p><a href="#">坚果蜜饯</a><a href="#">瓜子</a><a href="#">花生</a></p>
                    </span>
                    <div class="i-mc">
                        <div class="shoadw"></div>
                        <dl class="fore">
                            <dt><a href="#">坚果蜜饯</a></dt>
                            <dd>
                                <em><a href="#">小说</a></em>
                                <em><a href="#">艺术</a></em>
                            </dd>
                        </dl>                      
                        <dl>
                            <dt><a href="#">经管励志</a></dt>
                            <dd>
                                <em><a href="#">经济</a></em>
                                <em><a href="#">励志与成功</a></em>
                            </dd>
                        </dl>                       
                    </div>
                </div>
                <div class="item itemEven">
                    <span>
                        <h3><a href="#">乳品酒饮</a></h3>
                        <p><a href="#">坚果蜜饯</a><a href="#">瓜子</a><a href="#">花生</a></p>
                    </span>
                    <div class="i-mc">
                        <div class="shoadw"></div>
                        <dl class="fore">
                            <dt><a href="#">坚果蜜饯</a></dt>
                            <dd>
                                <em><a href="#">传记</a></em>
                                <em><a href="#">艺术</a></em>
                            </dd>
                        </dl>
                        <dl>
                            <dt><a href="#">少儿</a></dt>
                            <dd>
                                <em><a href="#">少儿</a></em>
                                <em><a href="#">11-14岁</a></em>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="item">
                    <span>
                        <h3><a href="#">粮油调料速食</a></h3>
                        <p><a href="#">坚果蜜饯</a><a href="#">瓜子</a><a href="#">花生</a></p>
                    </span>
                    <div class="i-mc">
                        <div class="shoadw"></div>
                        <dl class="fore">
                            <dt><a href="#">教育</a></dt>
                            <dd>
                                <em><a href="#">教材教辅</a></em>
                                <em><a href="#">教育与考试</a></em>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="item itemEven">
                    <span>
                        <h3><a href="#">美容护理</a></h3>
                        <p><a href="#">坚果蜜饯</a><a href="#">瓜子</a><a href="#">花生</a></p>
                    </span>
                    <div class="i-mc">
                        <div class="shoadw"></div>
                    </div>
                </div>
                <div class="item">
                    <span>
                        <h3><a href="#">清洁厨卫</a></h3>
                        <p><a href="#">坚果蜜饯</a><a href="#">瓜子</a><a href="#">花生</a></p>
                    </span>
                    <div class="i-mc">
                        <div class="shoadw"></div>
                    </div>
                </div>
                <div class="item itemEven">
                    <span>
                        <h3><a href="#">家居百货</a></h3>
                        <p><a href="#">坚果蜜饯</a><a href="#">瓜子</a><a href="#">花生</a></p>
                    </span>
                    <div class="i-mc">
                        <div class="shoadw"></div>
                    </div>
                </div>
                <div class="item">
                    <span>
                        <h3><a href="#">进口食品</a></h3>
                        <p><a href="#">坚果蜜饯</a><a href="#">瓜子</a><a href="#">花生</a></p>
                    </span>
                    <div class="i-mc">
                        <div class="shoadw"></div>
                    </div>
                </div>
                <div class="item itemEven">
                    <span>
                        <h3><a href="#">玩具</a></h3>
                        <p><a href="#">坚果蜜饯</a><a href="#">瓜子</a><a href="#">花生</a></p>
                    </span>
                    <div class="i-mc">
                        <div class="shoadw"></div>
                    </div>
                </div>
            </div>            
        </div><!-- category end -->
    </div>
	
	<header>
		<h1>Market</h1>
		<input id="get-goods" type="button" value="get goods"/>
	</header>
	
	<div class="output-list">
		<ul id="goods-list" class="Commodity"></ul>
	</div>
	
	<div id="page" class="select-page"></div>
	
	<div id="shopping-cart">
		<ul id="shopping-cart-goods"></ul>
	</div>

	<footer>      
	</footer>
</div>

<script src="../sea-modules/seajs/seajs/2.1.1/sea.js"></script>

<script>
seajs.config({
	base: "../sea-modules/",
	alias: {
		"$": "jquery/jquery/1.10.1/jquery.js",
		"json": "gallery/json/1.0.3/json.js",
		"underscore": "gallery/underscore/1.5.2/underscore.js",
		"backbone": "gallery/backbone/1.1.0/backbone.js",
		"localStorage":"500mi/backbone.localStorage/1.0.0/backbone.localStorage.js",
		"common":"500mi/common/1.0.0/common.js"
	}
});
  
seajs.use("500mi/market/1.0.0/main");

</script>

<!-- Templates -->

<script type="text/template" id="goods-template">

<div class="item-box">
	<div class="code" title="条形码"><%- barcode %></div>
	<img src="<%- imgSrc %>">
	<div class="price"><em>￥<%- price %>/<%- unitName %></em><span>216G*6盒</span></div>
	<div class="title" title="<%- name %>"><%- name %></div>
	<div class="inforBar">
		<p><span class="b-tong" title="统一配送">统</span><span class="b-tui" title="过期可退">退</span></p>
		<a href="javascript:;" class="b-favorite">收藏到货架</a>
	</div>
	<div class="bar">
		<div class="op-amount">
			<input type="text" maxlength="4" value="<%- amount %>">
			<a class="btn-plus" href="javascript:;" title="增加物品"></a>
			<a class="btn-minus" href="javascript:;" title="减少物品"></a>
		</div>
		<a class="b-blue" href="javascript:;" >进货</a>
	</div>
</div>

</script>
</body>
</html>
